@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Noto+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Michroma, sans-serif;
    font-weight: 350;
    color: #3a3a3a;
}

/* Heading and logo*/

h1, h2 {
   font-family: nato, sans-serif;
   text-transform: uppercase;
   letter-spacing: 2px;
   color: #252525; 
}

#logo {
    float: left;
    font-size: 250%;
}

/*Nav links*/

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}
#menu, #logo {
    line-height: 75px;
}


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit; 
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image*/

#hero-outer {
    height: 600px; 
    width: 100%;
    overflow: hidden;
}


#cover-text, #cover-text h2, #cover-text p {
    color: royalblue;

}

#hero-image {
    height: 600px; 
    width: 55%;
    background-image: url("../images/hero-image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    }


    /* Text besides the hero image*/
    #cover-text {
        font-size: 130%;
        font-family: nato, sans-serif;
        letter-spacing: 3px;

        width: 400px;
        height: 350px;

        padding-top: 40px;
        padding-left: 30px;

        background-color: rgb(167, 221, 242);

        bottom: 200px;
        right: 150px;

        position: absolute;
    }
    